
// Custom Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

$theme-font: 'Poppins', sans-serif;
$theme-color:#FF6C37;
$bcolor:#000;
$wcolor:#fff;
$gcolor:#808080;
$grcolor:#41a30d;

// Start Sass Mixins

@mixin animation($avalue) {
  -webkit-animation: #{$avalue};
  -moz-animation: #{$avalue};
  -o-animation: #{$avalue};
  animation: #{$avalue};
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius; 
}

@mixin border-radius-s($tl, $tr, $br, $bl) {
	border-top-left-radius: $tl;
	border-top-right-radius: $tr;
	border-bottom-right-radius: $br;
	border-bottom-left-radius: $bl;
	-webkit-border-top-left-radius: $tl;
	-webkit-border-top-right-radius: $tr;
	-webkit-border-bottom-right-radius: $br;
	-webkit-border-bottom-left-radius: $bl;
	-moz-border-radius-topleft: $tl;
	-moz-border-radius-topright: $tr;
	-moz-border-radius-bottomright: $br;
	-moz-border-radius-bottomleft: $bl;
  -ms-border-radius-topleft: $tl;
  -ms-border-radius-topright: $tr;
  -ms-border-radius-bottomright: $br;
  -ms-border-radius-bottomleft: $bl;
}

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin keyframes($aname) {
  @-webkit-keyframes #{$aname} {
    @content;
  }
  @-o-keyframes #{$aname} {
    @content;
  }
  @-moz-keyframes #{$aname} {
    @content;
  }
  @keyframes #{$aname} {
    @content;
  }
}

@mixin linear-gradient($sc,$sp,$ec,$ep:null) {
  /* fallback/image non-cover color */
  background: $sc;

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, $sc $sp, $ec $ep);

  /* Safari 4+, Chrome 1+ */
  background: -webkit-gradient(linear, left top, right top, color-stop($sp, $sc), color-stop($ep, $ec));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, $sc $sp, $ec $ep);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, $sc $sp, $ec $ep);

  /* IE10+ */
  background: -ms-linear-gradient(left, $sc $sp, $ec $ep);

  /* Standard */
  background: linear-gradient(to right, $sc $sp, $ec $ep);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sc', endColorstr='$ec',GradientType=1 );
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}

@mixin scale ($svalue) {
	@include transform(scale($svalue));
}

@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

@mixin transition($property,$time,$effect){
	-webkit-transition: $property $time $effect;
	-moz-transition: $property $time $effect;
  	-ms-transition: $property $time $effect;
	-o-transition: $property $time $effect;
  	transition: $property $time $effect;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin translate ($x,$y) {
	@include transform(translate($x,$y));
}

// *********************************************

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {overflow-x: hidden;}

body {
	background: #f7f7f8;
  color: #000;
  font-family:$theme-font;
}

ul li {list-style: none;}

.dropdown:hover>.dropdown-menu{
	display:block;
}

a{
	color:$bcolor;

	&:hover, &:visited, &:focus {
    background-color: transparent;
  	text-decoration: none;
		outline: 0;
	}
}

.zoomIn{
  @include scale(1);
  @include transition(all,1s,ease);
  &:hover{
    @include scale(1.1);
    @include transition(all,1s,ease);
  }
}

.tbtn{
  font-size: 15px;
  padding: 7px 25px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.btn-fill{
	background: $theme-color;
  border: 1px solid $theme-color;
  @include border-radius(2px);
  color: $wcolor;
  @include opacity(1);
  @include transition(all,0.5s,ease);

  &:hover{
    background: $theme-color;
    border: 1px solid $theme-color;
    color: $wcolor;
  	@include opacity(0.8);
  }
}

.btn-outline{
	background: transparent;
  border: 2px solid #ddd;
  @include border-radius(30px);
  color: $bcolor;
  overflow: hidden;
  @include transition(all,0.4s,ease-in);
  
  &:hover{
  	
  }
}

.tcolor{color:$theme-color !important;}

input[type=number].input_noSpinners::-webkit-inner-spin-button,
input[type=number].input_noSpinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  margin: 0;
}
input[type=number].input_noSpinners {
  -moz-appearance: textfield;
}

.br-0{border-right: 0;}
.bl-0{border-left: 0;}

.fright{float: right;}


// CSS For Header Section

.header{
  .action-bar{
    height: 72px;
    background: $bcolor;
    line-height: 50px;
    padding: 10px 0;
    text-align: right;

    a{
      color: $wcolor;
      cursor: pointer;
    }

    .navbar-nav{
      li{
        a{
          font-weight: 500;
          text-transform: uppercase;

          i{font-size: 16px;}

          &:hover{
            background: transparent;
            color: $wcolor;
          }
        }
      }
    }

    .has-dropdown{
      position: static;

      .dropdown-content{
        background: #262626;
        position: absolute;
        top: 75px;
        left: -95px;
        right: 0;
        width: 100%;
        @include opacity(0.5);
        padding: 15px 0;
        @include transition(all,0.4s,ease);
        visibility: hidden;
        z-index: 5;

        ul{
          li{
            line-height: 30px;
            a{
              color: $wcolor;
              font-size: 13px;
              font-weight: 400;
              text-transform: capitalize;
              @include transition(all,0.4s,ease);

              &:hover{
                color: $gcolor;
                font-size: 14px;
              }

            }
          }
        }
      }

      &:hover{
        .dropdown-content{
          top: 62px;
          @include opacity(1);
          visibility: visible;
        }
      }
    }

    .mobile-nav-icon{
      a{
        color: $bcolor;
        font-size: 20px;
      }
    }
  }
}

.fixed-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  @include box-shadow(0 1px 2px #ddd);
}

// CSS For Store Search

.store-search{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.81);
  display: none;
  z-index: 10;

  .search-box{
    margin-left: 7%;
    padding: 11px 0;

    .form-control{
      background: $bcolor;
      @include box-shadow(none);
      border: 3px solid $gcolor;
      @include border-radius(30px);
    }
    .scls-btn{
      color: $wcolor;
      cursor: pointer;
      display: block;
      font-size: 45px;
      margin-top: -8px;
    }
  }
}

// ************************************

/* CSS For Home Slider Section */
.hslider{
  #myCarousel{
    .carousel-caption{
      left: -55%;
      bottom: 75px;
    }
  }
  .carousel-fade{
    .carousel-indicators{
      bottom: -5px;
      z-index: 2;

      li{
        width: 12px;
        height: 12px;
        background-color: #ddd;
        border: 1px solid #ddd;
        @include border-radius(12px);
      }

      .active{
        width: 12px;
        height: 12px;
        background-color: $wcolor;
        border: 1px solid $wcolor;
        margin: 1px;
      }
    }

    .carousel-inner{
      .item{
        @include transition(all,0.5s,ease-in);
      }
        
      .item,
      .active.left,
      .active.right{
        opacity: 0.5;
      }

      .active,
      .next.left,
      .prev.right {
        opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }

    .carousel-control {
        z-index: 2;
    }
  }
}
// ************************************

// CSS For Product Box Page
.product-box{
  height: auto;
  background: $wcolor;
  padding: 35px;
  text-align: center;
  .product-photo{margin-bottom: 15px;}
  .product-name{
    height: 45px;
    padding: 0 8px;

    a{
      font-size: 15px;
      text-transform: capitalize;
    }
  }
  .product-description{
    margin-bottom: 25px;
    text-align: left;
  }
  .product-button{
    padding: 0 8px;
  }

}
// ************************************

// CSS For Collection Section

.collection{
  .collection-box{
    position: relative;
    margin: 75px 0;
    .ctext{
      position: absolute;
      top: 208px;
      z-index: 5;
      width: 35%;
      background: #fff;
      padding: 40px 50px;

      .ct-button{
        margin-top: 50px;
      }
    }
    .ctext:nth-child(even){right: 0;}
    .cphoto{
      position: relative;
      width: 85%;
      overflow: hidden;
    }
  }
}

// ************************************

// CSS For Home Product Section

.home-product{
  margin-bottom: 75px;
  .hp-header{text-transform: capitalize;}
}

// ************************************

// CSS For Home Product Section

.support-product{
  margin-bottom: 75px;
  .hs-header{
    text-transform: capitalize;

    p{
      color: $gcolor;
      margin-top: 20px;
    }
  }
  .hs-content{
    .container{
        background: #fff;
        padding: 15px 0;

        .support-box{
          text-align: center;
          .icon{
            width: 100px;
            height: 100px;
            background: $bcolor;
            @include border-radius(50%);
            line-height: 120px;
            margin: auto;
            text-align: center;

            a{
              color: #ed143d;

              i{
                font-size: 50px;
                @include transition(all,1s,ease);
              }
            }

            &:hover{
              a{
                i{
                  font-size: 40px;
                  @include transition(all,1s,ease);
                }
              }
            }
          }
          .text{
            margin-top: 10px;
            a{
              color: $gcolor;
              text-transform: uppercase;
            }
          }
        }
    }
  }
}

// ************************************

.newsletter{
  .container{
    background: $wcolor;
    margin-bottom: 75px;
    padding: 10% 0;

    .nl-header{
      p{
        color: $gcolor;
        margin: 3% 0;
      }
    }
    .nl-content{
      width: 50%;
      margin: auto;

      .form-control{
        background: transparent;
        border: 1px solid #ddd;
        border-right: 0;
        @include border-radius-s(30px, 0, 0, 30px);
        @include box-shadow(none);
        color: $bcolor;

        @include placeholder{
          color: $bcolor;
          font-size: 14px;
        }
      }
      button{
        background: transparent;
        border-color: #ddd;
        @include border-radius-s(0, 30px, 30px, 0);
        @include box-shadow(none);
        color: $bcolor;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}

// CSS For Footer Section

.footer{
  background: $wcolor;
  padding: 10px 0;

  h4{
    color: $bcolor;
    font-weight: 600;
  }

  .footer-link{
    a{
      color: $gcolor;
      text-transform: capitalize;

      &:hover{text-decoration: underline;}
    }
  }
  .address{color: $gcolor;}
  .social{
    ul{
      li{
        display: inline-block;
        margin-right: 10px;

        a{
          color: $gcolor;
          font-size: 20px;
          @include transition(all,0.5s,ease);
          &:hover{
            color: $bcolor;
          }
        }
      }
    }
  }
  .location{
    margin-top: 25px;
    span:nth-child(1){
      color: $bcolor;
      display: block;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    span:nth-child(2){
      color: $gcolor;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}


.copy-right{
  background: $wcolor;
  color: $gcolor;
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
}

// ************************************

// CSS For Catalog Page

.catalog-header {
  position: relative;

  .text {
    position: absolute;
    bottom: 0;
    width: 70%;
    padding: 30px;

    h2{text-transform: capitalize;}
  }
}

.catalog{
  padding: 2% 0;
  .row{margin-bottom: 20px;}
  .catalog-sort{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;

    .sort-option{
      .form-control{
        @include border-radius(0);
        @include box-shadow(none);
      }
    }
  }
}

// ************************************


// CSS For Product Page
.product-details{
  background: $wcolor;
  margin: 15px 0;
  padding: 10px 0;
  .product-info{    
    #zoomControl{
      padding: 10px 0;
      img{display: inline-block;}
    }

    .product-text{
      h3{text-transform: capitalize;}     
      .variant-list{
        margin: 15px 0;
        padding: 5px 0;
        label{
          font-weight: 400;
          margin-bottom: 15px;
          text-transform: capitalize;
        }
        ul{
          li{
            display: inline-block;
            margin-right: 7px;
            
            a{

              width: 50px;
              height: 50px;
              border: 1px solid $theme-color;
              @include border-radius(50%);
              color: $bcolor;
              display: inline-block;
              line-height: 50px;
              text-align: center;
              @include transition(all,0.5s,ease);

              &:hover,&:focus{
                background: $theme-color;
                color: $wcolor;
              } 
            } 
          }
        }
      }
      .p-price {
        color: $theme-color;
        font-size: 25px;
        margin: 20px 0;
      }
      .quantity-btn{
        margin-top: 20px;
        margin-bottom: 15px;
        .q-text{
          color: #ababab;
          float: left;
          line-height: 30px;
        }
        .input-group{
          width: 40%;
          float: left;
          margin: 0 15px;
          z-index: 0;
          span{
            background: #f3f3f3;
            border: 0;
            @include border-radius(0);
            color: #afaaaa;
            cursor: pointer;
            font-size: 20px;

            &:hover{
              background: #ddd;
              color: $wcolor;
              @include transition(all,0.4s,ease);
            }
          }
          .form-control{
            border: 0;
            @include box-shadow(none);
            text-align: center;

            &:hover{
              border: 1px solid #ddd;
              @include transition(all,0.4s,ease);
            }
          }
        }
      }
      .p-button{
        a{padding: 10px 20px;}
      }
    }
  }
  
  .product-description {
    margin: 15px 0;
  }

  .related-product{
    .rp-header{padding: 10px 0;}
  }
}

.zoomLens{
  width:20px !important;
  height:20px !important;
}

// ************************************

// CSS For Cart Page

.cart{
  background: #f7f7f7;
  .cart-header{
    background: #eaeaea;
    color: #999;
    padding: 10px;
  }
  .cart-item{
    background: $wcolor;
    @include box-shadow(0 0 2px #f5f5f5);
    margin: 15px 0;

    h4{
      border-bottom: 1px solid #ddd;
      padding: 10px;
    }

    .item-info{
      padding: 10px;

      .item-price{
        color: $theme-color;
        font-size: 17px;
      }

      .input-group{
        span{
          background: #f3f3f3;
          border: 0;
          @include border-radius(0);
          color: #afaaaa;
          cursor: pointer;
          font-size: 20px;

          &:hover{
            background: #ddd;
            color: $wcolor;
            @include transition(all,0.4s,ease);
          }
        }
        .form-control{
          border: 0;
          @include box-shadow(none);
          text-align: center;

          &:hover{
            border: 1px solid #ddd;
            @include transition(all,0.4s,ease);
          }
        }
      }

      .stock{margin-top: 5px;}

      .item-icon{
        margin-top: 10px;
        button{
          background: transparent;
          border: 0;
          color: #666;
          font-size: 14px;
        }

        a{
          color: #666;
          font-size: 15px;
          padding-right: 7px;

          &:hover{color: $theme-color;}
        }
      }
    }
  }

  .cart-summary{
    background: $wcolor;
    padding: 10px;

    .order-price {
      border-bottom: 1px solid #ddd;
      margin: 15px 0;
      padding-bottom: 5px;
    }

    .order-checkout{
      a{padding: 10px 20px;}
    }
  }
}

// ************************************

// CSS For Tags Page


// ************************************

